@font-face {
  font-family: Chalet;
  src: url(../fonts/Chalet1970.otf);
}

body {
	background-color: white;
	color: black;
	font-family: Arial;
}

h1 {
	color: crimson;
	font-family: Chalet;
	text-align: center;
	font-size: 48px;
}

p {
	font-family: Arial;
	text-align: center;
}

div {
	background-color: black;
	color: crimson;
	width: fit-content;
	margin: auto;
	padding: 10px;
	text-align: left;
	font-style: italic;
	font-size: 14px;
}

button {
  margin:auto;
  display:block;
}

input {
  margin:auto;
  display:block;
}

select {
  margin:auto;
  display:block;
  text-align: center;
}

label {
  margin:auto;
  display:block;
  text-align: center;
}